.landing-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: center;
}

.right {
	width: 61%;
	overflow: hidden;
	margin-left: auto;
}
.left {
	margin: auto;
	width: 30%;
}
