.report-container {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 300px auto;
	margin: 12px;
}
.chart-container {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	align-items: flex-start;
}

.tall {
	grid-row: span 2;
}

.wide {
	grid-column: span 2;
}

.card {
	width: calc(100% - 24px);
	/* min-height: 150px; */
	height: calc(100% - 24px);
	border-radius: 4px;
	border: solid 1px #e1e1e1;
	background-color: #ffffff;
	/* justify-content: center; */
	/* align-items: center; */
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.divide {
	width: 100%;
	height: 1px;
	background: #e1e1e1;
	margin-top: 12px;
}

.big-text {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 50px;
}

.profile {
	height: auto;
	border-radius: 4px;
	border: solid 1px #e1e1e1;
	background-color: #ffffff;
	padding: 12px;
	height: fit-content;
}

.compare {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.compare-profile {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.compare-profile .profile {
	margin: 12px;
}

.compare .chart-container{
	display: flex;
	flex-direction: column;
}

.compare .report-container {
	grid-template-columns: unset;
}

.compare .report-container .card {
	margin-top: 10px;
}

.compare-chart-container{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 12px;
}

.compare-chart{
	display: flex;
	flex-direction: column;
}

.compare-chart .card{
	margin-bottom: 12px;
}

@media only screen and (max-width: 600px) {
	.report-container {
		display: flex;
		flex-direction: column;
	}

	.chart-container {
		display: flex;
		flex-direction: column;
	}

	.card {
		margin-top: 10px;
	}

	.compare .chart-container {
		width: calc(100% - 24px) !important;
	}

	.compare {
		grid-template-columns: 1fr;
	}

	.compare-chart-container{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 12px;
	}
	
}
