.dress {
	margin-top: 5rem;
	justify-content: center;
}
.review {
	/* margin: auto; */
}
.gallery {
	width: 15rem;
	padding: 3rem;
}

.heart-container {
	position: relative !important;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.gallery {
		width: 100%;
	}

	.review {
		padding: 1rem;
	}
}
