.search-container {
	/* margin-top: 4rem; */
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.dress-carousel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.filters {
	width: 14rem;
	padding: 1rem;
	background-color: #fdefee;
}

@media only screen and (max-width: 600px) {
	.dress-carousel {
		justify-content: center;
	}

	.search-container {
		flex-direction: column;
	}
	.filters {
		width: calc(100% - 1rem);
		padding: 0.5rem;
	}
}
