.flex {
	display: flex;
	/* justify-content: center;
	align-content: center; */
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
.base {
	width: 100%;
	min-height: 70vh;
}
.logo {
  color: #FF5A6E;
	position: relative;
  text-align: center;
  margin-right: 1rem;
}
.google-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1rem solid #ddd;
	border-radius: 0.3rem;
	background-color: #fff;
	width: 100%;
	height: 40px;
	max-width: 140px;
	cursor: pointer;
	transition: 0.1s all ease-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}