.flex {
	display: flex;
	/* justify-content: center;
	align-content: center; */
}
.row {
	flex-direction: row;
}
.wrap {
	flex-wrap : wrap;
}
.column {
	flex-direction: column;
}
.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
.base {
	width: 100%;
	min-height: 70vh;
}

.slider-labels{
  justify-content: space-between;
  padding: 12px;
}

.main{
  position: absolute;
  height: calc(100% - 54px);
  width: calc(100% - 54px);
  align-items: center;
  /* justify-content: space-around; */
}

.left{
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right{
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .main{
    position: relative;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  }

  .left{
    width: 100%;
  }

  .butt-ref{
    height: 6rem!important;
  }
}

.slider-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body-ref-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.body-ref{
  height: 68vh;
}

.butt-ref{
  height: 9rem;
}

.name{
  font-size: 32px;
}
.pink {
	color: #ff5a6e;
}
.logo {
	color: #ff5a6e;
	position: relative;
	text-align: center;
	margin-right: 1rem;
}
.google-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1rem solid #ddd;
	border-radius: 0.3rem;
	background-color: #fff;
	width: 100%;
	height: 40px;
	max-width: 140px;
	cursor: pointer;
	transition: 0.1s all ease-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
