.mobileCard {
    box-shadow: 0 2px 4px 0 rgba(53, 53, 53, 0.15);
    background-color: #ffffff;
    padding: 16px;
    margin: 4px 6px;
}

.fields{ 
    display: flex;
    flex-wrap: wrap;
}

.mobileFields{ 
    width: 50%;
}
.mobileFields h4 {
    margin: 0;
    color: #777d7f;
    font-size: 12px;
}
.mobileFields h5 {
    margin: 0;
    font-size: 14px;
    color: #2f3a3e;
    margin-bottom: 20px;

}
.cards {
    width: 100%;
}
@media screen and (max-width: 780px) {

    .flex-start {
        justify-content: flex-start;
    }

    .dashboard {
        padding: 0 !important;
        width: 100%;
        position: relative;
    }
    .ReactModal__Content {
        width: 75%;
        margin: 0 auto;
        height: 401px;
    }
}

.mobileSearch{
    width: 50%;
    border-radius: 0;
    border: 0;
    border-right: 1px solid #ececec;
}
.mobileSelect {
    width: 50%;
    border-bottom: 1px solid #ececec;
    -webkit-appearance: none;
    border: 0;
    padding: 0 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.64);
    box-shadow: none;
    background: #fff;
    border-radius: 0;
}

.mobileFilters {
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    line-height: 40px;
    justify-content: space-between;
}

.mobileAddition {
    position: absolute;
    top: -53px;
    right: 30px;
}